@*
    This is for looking at all quadrants.
*@
@{
    ViewData["Title"] = "View Tasks";
}

@model List<TaskForm>

<h1 class="text-center">Quadrants</h1>
<br />

<table class="table table-bordered table-striped">

        <thead class="font-weight-bold">
            <tr>
                <td>Quadrant</td>
                <td>Category</td>
                <td>Task</td>
                <td>Due Date</td>
                <td>Complete</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Quadrant</td>
                    <td>@x.Category.CategoryName</td>
                    <td>@x.TaskName</td>
                    <td>@x.DueDate</td>
                    <td>@x.Completed</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.TaskId">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.TaskId">Delete</a></td>
                </tr>
            }
        </tbody>

    </table>

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Task</td>
            <td>Due Date</td>
            <td>Quadrant</td>
            <td>Category</td>
            <td>Complete?</td>
</tr>
</thead>

<tbody>
@foreach (var i in Model)
{
            <tr>
                <td>i.TaskName</td>
                <td>i.DueDate</td>
                <td>i.Quadrant</td>
                <td>i.Category.CategoryName</td>
                <td>i.Completed</td>

                <td><a asp-controller="Home" asp-action="Edit">Edit</a></td>
            </tr>
        }

    </tbody>
</table>


<div class="line">
    <div class="col-md-6 quad" style="background-color:lightskyblue;">
        <h3>Quadrant 1</h3>
        <table class="table table-bordered table-striped">
            <thead class="font-weight-bold">
                <tr>
                    <td>Task</td>
                    <td>Due Date</td>
                    <td>Category</td>
                    <td>Complete?</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-6 quad" style="background-color:lightpink;">
        <h3>Quadrant 2</h3>
        <table class="table table-bordered table-striped">
            <thead class="font-weight-bold">
                <tr>
                    <td>Task</td>
                    <td>Due Date</td>
                    <td>Category</td>
                    <td>Complete?</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
        </table>
    </div>



    <div class="col-md-6 quad" style="background-color:lightgoldenrodyellow;">
        <h3>Quadrant 3</h3>
        <table class="table table-bordered table-striped">
            <thead class="font-weight-bold">
                <tr>
                    <td>Task</td>
                    <td>Due Date</td>
                    <td>Category</td>
                    <td>Complete?</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-6 quad" style="background-color:lightgreen;">
        <h3>Quadrant 4</h3>
        <table class="table table-bordered table-striped">
            <thead class="font-weight-bold">
                <tr>
                    <td>Task</td>
                    <td>Due Date</td>
                    <td>Category</td>
                    <td>Complete?</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
        </table>
    </div>
</div>
